<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:inline="javascript">
	window.onload = () => {
		const websocket = new WebSocket("ws://localhost:9998/ws/multiRoom");
		var roomId = [[${roomId}]];
		document.querySelector("#btn_send").onclick = () => {
			var textarea = document.getElementById("textarea");
		    var myMessage = textarea.value;
		    //채팅 메세지 전송 함수, type으로 가입인지 메세지 전송인지 서버에 알려줌
		    websocket.send( JSON.stringify({chatRoomId: roomId, type: "SEND", message: myMessage}) );
		}
		
		websocket.onopen = function () {
			//채팅방 접속시 제일먼저 보내는 메세지
			websocket.send( JSON.stringify({chatRoomId: roomId, type: "JOIN", message : '사용자 접속'}) );
		}   
		
		//메세지 받는 이벤트 함수
		websocket.onmessage = function (e) {
	        var content = JSON.parse(e.data);
	        var message = content.message;
	        var type = content.type;
	        var chatLog = document.getElementById("chatLog");     
	        //if(type == "SEND")
	        console.log(message);
	            chatLog.innerHTML = chatLog.innerHTML + "<p>" + message + "</p>";
		}
	}
	
</script>
</head>
<body>

<h1>대화방</h1>
<div id="chatLog"></div>
<textarea id="textarea"></textarea>
<input type="button" value="전송" id="btn_send">

</body>
</html>