<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	*{
		margin:0;
		padding:0;
	}
	body{
		height:3000px;
	}
	table{
		border-collapse: collapse;
		margin: 20px auto;
		width: 1200px;
	}
	td, th{
		padding:10px;
		border: 1px solid black;
		text-align: center;
	}
</style>
<link href="/css/menu.css" rel="stylesheet">
</head>
<body>
<th:block th:include="/fragments/header.html"></th:block>
<th:block th:if="${session.user == null}">
		<script>
		alert('로그인 하셔야 이용하실 수 있습니다.');
		location.href = '/ms4/login/view';
	</script>
	</th:block>
  	<hr>
  	<a href="/ms4/board/write/view">글쓰기</a>
	<table>
		<thead>
			<tr>
				<th>분류</th>
				<th>글번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>작성일</th>
			</tr>	
		</thead>
		<tbody>
			<tr th:each="board : ${list}">
				<td>[[${board.boardCategory}]]</td>
				<td>[[${board.boardNo}]]</td>
				<td><a th:href="@{/ms4/board/{bno}(bno=${board.boardNo})}">[[${board.boardTitle}]]</a></td>
				<td>[[${board.id}]]</td>
				<td>[[${board.boardCount}]]</td>
				<td>[[${board.boardWrite}]]</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
					<!-- 페이지 번호, ◀  ▶  -->
					<a th:href="@{/ms4/main(pageNo=${pagging.startPageOfPageGroup - 1},pageContentEa=${pagging.pageOfContentCount})}" th:if="${pagging.priviousPageGroup}">◀</a>
					
					<a th:href="@{/ms4/main(pageNo=${i},pageContentEa=${pagging.pageOfContentCount})}" th:each="i : ${#numbers.sequence(pagging.startPageOfPageGroup,pagging.endPageOfPageGroup)}">[[${i}]]</a>
					
					<a th:href="@{/ms4/main(pageNo=${pagging.endPageOfPageGroup + 1},pageContentEa=${pagging.pageOfContentCount})}" th:if="${pagging.nextPageGroup}">▶</a>
				</td>
			</tr>
		</tfoot>	
	</table>
</body>
</html>