<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link href="/css/menu.css" rel="stylesheet">
<body>
<th:block th:include="/fragments/header.html"></th:block>
<th:block th:if="${session.user == null}">
		<script>
		alert('로그인 하셔야 이용하실 수 있습니다.');
		location.href = '/ms4/login/view';
	</script>
	</th:block>
  	<hr>
<h1>신고 목록</h1>
    <table>
        <thead>
            <tr>
                <th>구분</th>
                <th>글번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <td>게시글</td>
                <td>[[${board.boardNo}]]</td>
                <td><a th:href="@{/ms4/board/{bno}(bno=${board.boardNo})}">[[${board.boardTitle}]]</a></td>
                <td>[[${board.boardContent}]]</td>
                <td><button id="btn_Adelete">관리자 삭제</button></td>
                <script th:inline="javascript">
			 		document.querySelector("#btn_Adelete").onclick = () =>{
			 			location.href='/ms4/board/aDelete/[[${board.boardNo}]]';
			 		}
			 	</script>
            </tr>
        </tbody>
    </table>
    <hr>
    <table>
    	<thead>
    		<th>구분</th>
    		<th>글번호</th>
    		<th>댓글</th>
    		<th>비고</th>
    	</thead>
    	<tbody>
            <tr th:each="comment : ${commentList}">
                <td>댓글</td>
                <td>[[${comment.bno}]]</td>
                <td>[[${comment.comment}]]</td>
                <td><a th:href="@{/ms4/boardComment/aDelete(cno=${comment.cno },bno=${comment.bno})}" th:if="${session.user != null && session.user.grantNo == 0 }">관리자 댓글 삭제</a></td>
            </tr>
    	</tbody>
    </table>
</body>
</html>