<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	
	*{
		margin:0;
		padding:0;
	}
	h1 {
		text-align: center;
		margin: 20px 0;
	}
	body{
		height:3000px;
	}
	table{
		border-collapse: collapse;
		margin: 20px auto;
		width: 1200px;
	}
	td, th{
		padding:10px;
		border: 1px solid black;
		text-align: center;
	}
	input, select{
		text-align: center;
		font-size: 1.2em;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
function btnUpdate() {
    $(".btn_update").click(function() {
        console.log($(this).closest('tr').find('input, select'));
        let obj = {};
        $(this).closest('tr').find('input, select').each(function(idx, val) {
            obj = {...obj, [val.className]: val.value};
        });
        console.log(obj);

        $.ajax({
            url: "/ms4/user/admin/update", // URL 경로 수정
            data: obj,
            dataType: 'json',
            method: "PUT",
            success: function(r) {
                console.log(r);
            }
        });
    });
}
</script>
<body>
<h1>사용자 목록</h1>
    <table>
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>닉네임</th>
                <th>Email</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody class = "user_list">
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}">아이디</td>
                <td><input type="text" class="name" th:value="${user.name}"/></td>
                <td><input type="text" class="nickname" th:value="${user.nickname}"/></td>
                <td><input type="text" class="email" th:value="${user.email}"/></td>
                <td>
                <button type="button" class="btn_update">수정</button>
                <button type="button" class="btn_delete">삭제</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>