@charset "UTF-8";
nav{
	width: 100%;
	max-width: 1200px;
	margin:30px auto;
	border: 1px solid black;
	padding:10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
nav > ul {
	display: flex;
	flex-flow: row nowrap;
	align-items:center;
	list-style-type: none;
	padding: 0;
}
nav a:link, nav a:visited {
	display: inline-block;
	padding:10px 0px;
	width: 200px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color:black;
	font-size: 1.3em;
}

nav a:hover{
	font-weight: bold;
}

@media (max-width: 699px) {
	nav {
        padding: 20px; /* 모바일 화면에서 더 나은 여백 */
    }

    nav > ul {
        flex-flow: column nowrap; /* 요소들이 수직으로 정렬되도록 설정 */
        align-items: flex-start; /* 요소들이 왼쪽 정렬되도록 설정 */
    }

    nav a:link, nav a:visited {
        width: 100%; /* 링크의 너비를 100%로 설정하여 화면에 맞추기 */
        font-size: 1.1em; /* 폰트 크기를 약간 줄임 */
        padding: 15px 0; /* 패딩을 약간 늘림 */
    }
}