<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.ms1.mapper.BoardMapper">
	<!-- ResultMap -->
	<resultMap type="com.ms1.dto.BoardDTO" id="board">
        <id column="board_no" property="boardNo" />
        <result column="id" property="id" />
        <result column="board_title" property="boardTitle" />
        <result column="board_content" property="boardContent" />
        <result column="board_write" property="boardWrite" />
        <result column="board_count" property="boardCount" />
    </resultMap>
    <select id="selectBoardNewList" parameterType="map" resultMap="board">
		select * from board
	</select>
    </mapper>