<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms2.mapper.BattleMapper">

    <!-- ResultMap -->
    <resultMap id="userResultMap" type="com.ms2.dto.UserDTO">
        <id column="ID" property="id" />
        <result column="NICKNAME" property="nickname" />
        <result column="GRANT_NO" property="grantNo" />
        <result column="PROFILE" property="profile" />
        <result column="MATCH_WIN" property="matchWin" />
        <!-- 컬렉션의 루트 타입을 지정 -->
        <collection property="pokemonList" ofType="com.ms2.dto.PokemonDTO">
            <id column="POKEMON_ID" property="id" />
            <result column="ENGLISH_NAME" property="englishName" />
            <result column="KOREAN_NAME" property="koreanName" />
            <!-- 필요한 포켓몬 속성 추가 -->
        </collection>
    </resultMap>

    <!-- 사용자 승리 수 조회 쿼리 -->
    <select id="selectUserVictoryCount" parameterType="String" resultMap="userResultMap">
        SELECT u.ID, u.NICKNAME, u.GRANT_NO, u.PROFILE, m.MATCH_WIN
        FROM USERS u
        INNER JOIN MATCH m ON u.ID = m.ID
        WHERE u.ID = #{id}
    </select>

    <!-- 사용자 승리 수 업데이트 쿼리 -->
    <update id="updateUserVictoryCount" parameterType="String">
        UPDATE MATCH
        SET MATCH_WIN = MATCH_WIN + 1
        WHERE ID = #{id}
    </update>

    <!-- 사용자 포켓몬 도감 조회 쿼리 -->
    <select id="selectUserPokemonNum" parameterType="String" resultMap="userResultMap">
        SELECT 
            u.ID, 
            u.NICKNAME, 
            u.GRANT_NO, 
            u.PROFILE, 
            m.MATCH_WIN,
            p.ID AS POKEMON_ID, 
            p.ENGLISH_NAME,
            p.KOREAN_NAME
        FROM 
            USERS u
        INNER JOIN 
            MATCH m ON u.ID = m.ID
        LEFT JOIN 
            GETPOKEMON g ON u.ID = g.ID 
        LEFT JOIN 
            POKEMON p ON g.POKEMON_NUM = p.ID 
        WHERE 
            u.ID = #{id}
    </select>
</mapper>
